<% cache @form do %>
  <div class="form_wrapper">
    <%= form_for @form, url: search_index_path, method: :get do |f| %>
      <h3 class="form_title">Search for Flickr Photos without signing in!</h3>
      <%= f.text_field :topic %>
      <%= f.hidden_field :page, value: 1 %>
      <%= f.submit 'Search' %>
    <% end %>
  </div>
<% end %>