<div id="masonry-container" class="transitions-enabled infinite-scroll masonry clearfix"></div>
<div id="infscroll-trigger" href=<%= "/images/" + @topic + "/1" %>>FIN (insert call to action here)</div>