<%= image_tag @image.image_url %>
<div class="panel"></div>
<dl>
  <dt>Title:</dt>
  <dd><%= @image.title %></dd>
  <dt>Posted by:</dt>
  <dd><%= @image.username %></dd>
  <dt>Date taken:</dt>
  <dd><%= @image.date_taken %></dd>
</dl>