<% cache "#{@image.image_url}" do %>
  <div id="single-image">
    <%= image_tag @image.image_url %>
    <div id="image-details">
      <p id="image-title">
        <%= "Title: #{@image.title}" %>
      </p>
      <p id="image-author">
        <%= "Posted by: #{@image.username}" %>
      </p>
      <p id="image-date">
        <%= "Date taken: #{@image.date_taken}" %>"
      </p>
    </div>
  </div>
<% end %>