.form_wrapper {
  background-color: #f8f8f8;
  height: calc(100% - 67px);
  position: relative;
}

.new_search_form {
  padding-top: 16px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  font-size: 24px;
  margin-top: -42px;
  margin-left: -291px; //Only good down to 600px width
}

.form_title {
  margin-bottom: 16px;
  margin-top: 0;
}

#search_form_topic {
  width: 400px;
  border-radius: 4px;
  border-color: #e0e0e0;
  border-style: solid;
  padding: 2px;
  
  box-shadow: inset 0 1px 3px rgba(#000, 0.06);
  box-sizing: border-box;
  transition: border-color 150ms ease;

  &:hover {
    border-color: shade(#e0e0e0, 20%);
  }

  &:focus {
    border-color: #483d8b;
    box-shadow: inset 0 1px 3px rgba(#000, 0.06), 0 0 5px adjust-color(#483d8b, $lightness: -5%, $alpha: -0.3);
    outline: none;
  }
}

#infscroll-trigger {
  text-align: center;
}

#index_spinner {
  display: inline;
  width: 35px;
}